.TodoSearch{
    color: white;
    background-color: rgb(52, 52, 109);
    display: block;
    width: 90%;
    font-size: 35px;
    height: 80px;
    margin: 0px auto 60px;
    padding: 0 15px;
    border: 0;
    outline: none;
}

.TodoSearch::placeholder {
    color:rgba(255, 255, 255, 0.5)
  }

  .TodoSearch:focus {
    box-shadow: 0px 0px 25px 10px rgb(0, 0, 0, 0.4);
  }